@model MarkomPos.Model.Model.Offer

<div class="modal fade" id="detailsModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content footerBg">
            <div class="modal-header txtColor">
                <h4 class="modal-title">Offer</h4>
                <button type="button" class="close txtColor" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body formBg">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    @Html.HiddenFor(model => model.ID)
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ContactId, "ContactId", htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("ContactId", null, "Select Contact", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.ContactId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DeliveryTermId, "DeliveryTermId", htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("DeliveryTermId", null, "Select Delivery Term", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.DeliveryTermId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DocumentParityId, "DocumentParityId", htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("DocumentParityId", null, "Select Document Parity", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.DocumentParityId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ResponsibleUserId, "ResponsibleUserId", htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("ResponsibleUserId", null, "Select Responsible User", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.ResponsibleUserId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PaymentMethodId, "PaymentMethodId", htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownList("PaymentMethodId", null, "Select Payment Method", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PaymentMethodId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OfferDate, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.OfferDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.OfferDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.OfferNumber, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.OfferNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.OfferNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ExpirationDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ContactAddress, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ContactAddress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ContactCountry, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.ContactCountry, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.ContactCountry, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PrintNote, htmlAttributes: new { @class = "control-label" })
                                                    <div class="checkbox">
                                                        @Html.DisplayFor(model => model.PrintNote)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Note2, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Note2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.Note2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DateModified, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.DateModified, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>