@model IEnumerable<MarkomPos.Model.ViewModel.CodeBookVm>

@{
    ViewBag.Title = "Index";
}


<section class="um-wrap">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="btn-create-wrap">
                    <a class="btn btn-default create" href="javascript:void(0)">Create New</a>
                </div>
            </div>
            <div class="card-body">
                <table id="tblCodeBook" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CodePrefix.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NextNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Year)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodePrefix.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NextNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Year)
                                </td>
                                <td>
                                    @*<a class="edit" data-id="@item.ID" href="javascript:void(0)"><i class="fa fa-user-edit"></i></a> |*@
                                    <a class="details" data-id="@item.ID" href="javascript:void(0)"><i class="fa fa-eye"></i></a> @*|*@
                                    @*@Html.ActionLink(" ", "DeleteConfirmed", new { id = item.ID }, new { @class = "fa fa-trash", onclick = "return confirm('Are you sure you want to remove to list ?');" })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div id="dialog">
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        $('#tblCodeBook thead tr').clone(true).appendTo('#tblCodeBook thead');
        $('#tblCodeBook thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();

            var length = $("table").find("tr:last td").length;
            if (i == length - 1) {
                return;
            }

            $(this).html('<input type="text" class="form-control text-box single-line"/>');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        var table = $('#tblCodeBook').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            colReorder: true,
            orderCellsTop: true,
            fixedHeader: false,
            columnDefs: [
                { orderable: false, targets: -1 }
            ]
        });

    });

    $(function () {
        $(".details").click(function () {
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            var id = $(this).attr("data-id");
            var ajaxCallURL = '/CodeBooks/Details?id=' + id;
            $.ajax({
                type: "GET",
                url: ajaxCallURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#dialog').html(data);
                    $('#detailsModal').modal(options);
                    $('#detailsModal').modal('show');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });
        $(".create").click(function () {
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            var ajaxCallURL = '/CodeBooks/Create';
            $.ajax({
                type: "GET",
                url: ajaxCallURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#dialog').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });
        $(".edit").click(function () {
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            var id = $(this).attr("data-id");
            var ajaxCallURL = '/CodeBooks/Edit?id=' + id;
            $.ajax({
                type: "GET",
                url: ajaxCallURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#dialog').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });
    });
</script>