@model IEnumerable<MarkomPos.Model.Model.UnitOfMeasure>

@{
    ViewBag.Title = "Index";
}

<style>
    tr.group,
    tr.group:hover {
        background-color: #ddd !important;
    }
</style>

<section class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="txtColor">Unit of measure</h1>
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item txtColor">Unit of measure</li>
                        <li class="breadcrumb-item txtColor active">List</li>
                    </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @*<div class="pull-left">
                                <h3 class="card-title">Unit of Measure</h3>
                            </div>*@
                        <div class="btn-create-wrap">
                            <a class="btn btn-default create" href="javascript:void(0)">Create New</a>
                            @*@Html.ActionLink("Create New", "Create")*@
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tblUnitOfMeasure" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DisplayName)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DisplayName)
                                        </td>
                                        <td>
                                            <a class="edit" href="javascript:void(0)"><i class="fa fa-user-edit"></i></a> |
                                            <a class="details" href="javascript:void(0)"><i class="fa fa-eye"></i></a> |
                                            @Html.ActionLink(" ", "DeleteConfirmed", new { id = item.ID }, new { @class = "fa fa-trash", onclick = "return confirm('Are you sure you want to remove " + @item.Name + " to list ?');" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="dialog">
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        var groupColumn = 0;
        $('#tblUnitOfMeasure thead tr:eq(0) th').each(function (i) {

            if ($(this).text().trim() == "Jed.mj.") {
                groupColumn = i;
            }
        });

        $('#tblUnitOfMeasure thead tr').clone(true).appendTo('#tblUnitOfMeasure thead');
        $('#tblUnitOfMeasure thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();

            var length = $("table").find("tr:last td").length;
            if (i == length - 1) {
                return;
            }

            $(this).html('<input type="text" class="form-control text-box single-line"/>');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });


        var table = $('#tblUnitOfMeasure').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            colReorder: true,
            orderCellsTop: true,
            fixedHeader: true,
            columnDefs: [
                { orderable: false, targets: -1 }
            ],
            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        var length = $("table").find("tr:last td").length;
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="' + length + '">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }
        });

    });

    $(function () {
        $(".details").click(function () {
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            var id = $(this).closest("tr").find("td").eq(0).html();
            var ajaxCallURL = '/UnitOfMeasures/Details?id=' + id;
            $.ajax({
                type: "GET",
                url: ajaxCallURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#dialog').html(data);
                    $('#detailsModal').modal(options);
                    $('#detailsModal').modal('show');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });
        $(".create").click(function () {
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            var ajaxCallURL = '/UnitOfMeasures/Create';
            $.ajax({
                type: "GET",
                url: ajaxCallURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#dialog').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });
        $(".edit").click(function () {
            var $buttonClicked = $(this);
            var options = {
                "backdrop": "static",
                keyboard: true
            };
            var id = $(this).closest("tr").find("td").eq(0).html();
            var ajaxCallURL = '/UnitOfMeasures/Edit?id=' + id;
            $.ajax({
                type: "GET",
                url: ajaxCallURL,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#dialog').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });
    });
</script>